.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 0.5rem;
  padding: 1rem;
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

